{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<h3>
    			<div></br>
    					<p><center> <img src="https://s16.postimg.org/kp37kf4th/indir.png" width="196" height="144" alt="Knitter logo" align="middle"> </center> </center></p>
    					<p style="text-align:center"><strong>Our mission: To give everyone the power to create and share ideas and information instantly, without barriers.</strong></p>
    						<h5>
    							<div>
    								<p style="text-align:center">Knitter always helps users to set free their mind and blow their ideas on a communication world in everywhere, everytime.</p>
    								<p style="text-align:center">So, from the beginning to the end, Knitter will ask the same question to you: Why Knot?</p>
    							</div>
    						</h5>
    					<p><center> <img src="https://s22.postimg.org/7g32jtdfl/yeni_tasarim.png"  alt="Knitter Office" align="middle"> </center>

    			</div>
    		</h3>
    	</div>
	</div>
</div>
<div name="team_mate" class="container">
	<div class="row">
		<div class="col-md-6">
			<h4>
				<div>
					<p style="text-align:right"><strong>LEADERSHIP </strong>/ EXECUTIVE TEAM + BOARD OF DIRECTORS</p>
					<p style="text-align:right","text-size:20pt"><strong>EXECUTIVE TEAM</strong></p>
				</div>
			</h4>
			<h5>
				<div>
				<p style="text-align:right"><strong>Ozan ATA</strong></p>
				<p style="text-align:right">CEO</p>
				<p style="text-align:right"><strong>Nursah Melis CINAR</strong></p>
				<p style="text-align:right">COO</p>
				<p style="text-align:right"><strong>Tolga BILBEY</strong></p>
				<p style="text-align:right">CFO</p>
				<p style="text-align:right"><strong>Ilknur MERAY</strong></p>
				<p style="text-align:right">CTO</p>
				<p style="text-align:right"><strong>Can ALTINIGNE</strong></p>
				<p style="text-align:right">CMO</p>
				</div>
			</h5>
		</div>
		<div class="col-md-6">
			<h4>
				<div>
					<br>
					<p style="text-align:left"><strong>BOARD OF DIRECTORS</strong></p>
				</div>
			</h4>

		</div>
	</div>
</div>
{% endblock %}