{% extends 'layout.html' %}
{% block title %}Group Page{% endblock %}
{% block content %}
<div class="container-fluid" style="padding: 0px; background-image: url({{ group_info.group_pic }}); height: 300px; max-width: 100%;">
    <div class="row">
        <p style="text-align: center"></p>
    </div>
    <div class="row">
        <p style="text-align: center"></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="text-align: center">
            <h3>
                <p><span class="glyphicon glyphicon-indent-right"></span>{{ group_info.group_name }}
                {% if not joined %}
                <form action="" method="post">
                  <button type="submit" class="btn btn-info" name="join-group" value="{{ group_info.group_id }}">Join</button>
                </form>
                {% else %}
                <form action="" method="post">
                  <button type="submit" class="btn btn-info" name="exit-group" value="{{ group_info.group_id }}">Joined</button>
                </form>
                {% endif %}
                  </p></h3>
        </div>
        <div class="col-sm-4">
</div>
        <div class="col-sm-4" style="text-align: center; padding-top: 15px">
          <p>{{ group_info.group_description }}</p>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs nav-justified" style="background-color: white">
            <li id="li_home" class="nav-item">
                <a class="nav-link" href="#" id="home_link">Home </a>
            </li>
            <li id="li_participant" class="nav-item">
                <a class="nav-link" href="#" id="participants_link">Participants</a>
            </li>
            <li id="li_settings" class="nav-item">
                <a class="nav-link" href="#" id="settings_link">Settings</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
            <div class="text textbox">
                <div style="text-align:right; margin-top:5px; margin-bottom:10px">
</div>
            </div>
            <div class="alert alert-info" role="alert" style="text-align: center">
                Knitters who liked this group:
            </div>
            {% set counter = 0 %}
            {% for participant in group_participants if counter<3 %}
            {% set participant = get_user_info(participant.user_id) %}
            <div class="media" style="margin-top: 30px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ participant.profile_pic }}" alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ participant.username }}</h4>
                </div>
            </div>
            {% set counter = counter + 1 %}
            {% endfor %}
        </div>
        <div class="col-sm-1">
            <div></div>
        </div>
        <div class="col-sm-7" style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">
            <div id="home" class="sections">
              <form action="" method="post" style="padding-bottom:30px;">
                <div class="form-group">
                  <label for="groupDescription">Knots of the Group</label>
                  <span class="glyphicon glyphicon-globe"></span>
                  <textarea class="form-control" rows="3" name="knot_content" style="resize:none;" placeholder="Enter your knot"></textarea>
                </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" style="float:right" value="Knot" name="add_group_knot"/>
            </div>
          </form>

            {% for knot in group_knots %}
            {% set knot_owner = get_user_info(knot.owner_id) %}
            <div class="media" style="margin-top: 25px; background-color: #f5f8fa; border-radius: 15px">
                <div style="padding: 15px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="{{ knot_owner.profile_pic }}"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ knot_owner.username }}</h4>
                        {{ knot.knot_content }}
                        <h6 style="text-align: right">{{ knot.post_date }}</h6>
                    </div>
                </div>
            </div>

            {% endfor %}

          </div>
            <div id='participants' class='sections'>
              {% for participant in group_participants %}
              {% set participant = get_user_info(participant.user_id) %}
              <div class="media" style="margin-top: 30px">
                  <div class="media-left">
                      <a href="#">
                          <img class="media-object" src="{{ participant.profile_pic }}" alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                      </a>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ participant.username }}</h4>
                  </div>
              </div>
              {% endfor %}
            </div>
            <div id='settings' class='sections'>
              <form action="" method="post">
                <div class="form-group">
                  <label for="groupDescription">Group Description:</label>
                  <textarea class="form-control" rows="3" name="group_description" style="resize:none;">{{ group_info.group_description }}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Update Group" name="update-description"/>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-danger btn-block" value="Delete Group" name="delete-group"/>
                </div>

              </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

$(document).ready(function () {
    $(".sections").hide();
    $("#home").show();
    $('.nav-item').removeClass("active");
    $('#li_home').addClass("active");
});

$('#home_link').click(function (e) {
    $(".sections").hide();
    $("#home").show();
    $('.nav-item').removeClass("active");
    $('#li_home').addClass("active");
    e.preventDefault();
    return false;
});

$('#participants_link').click(function (e) {
    $(".sections").hide();
    $("#participants").show();
    $('.nav-item').removeClass("active");
    $('#li_participants').addClass("active");
    e.preventDefault();
    return false;
});

$('#settings_link').click(function (e) {
    $(".sections").hide();
    $("#settings").show();
    $('.nav-item').removeClass("active");
    $('#li_settings').addClass("active");
    e.preventDefault();
    return false;
});

$('#like_link').click(function (e) {
    $(".sections").hide();
    $("#likes").show();
    $('.nav-item').removeClass("active");
    $('#li_like').addClass("active");
    e.preventDefault();
    return false;
})

</script>


{% endblock %}
