{% extends "layout.html" %}

{% block title %}Knitter Home Page {% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='home_page_style.css') }}"/>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-3" style="margin-top: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
                 <p style="text-align: center"><img
                        src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg"
                        height="220px"
                        width="220px"
                        style="margin-top:30px; margin-bottom: 20px; border-radius: 25px; border: 2px solid #f5f8fa; padding: 5px 5px 5px 5px; text-align: center; vertical-align: center">
                 </p>
                <h3 style="text-align: center">Ozan Ata</h3>
                <p style="text-align: center"><span class="glyphicon glyphicon-link"></span>saykolover</p>
                <p style="text-align: center"><span class="glyphicon glyphicon-resize-small"></span><a> web.itu.edu.tr/saykolover</a></p>
                <p style="text-align: center"><span class="glyphicon glyphicon-share-alt"></span> Joined July 2012</p>
<!--    	<hr><span class="glyphicon glyphicon-list-alt"></span> Knots
    	<br><span class="glyphicon glyphicon-search"></span> Followings
    	<br><span class="glyphicon glyphicon-eye-open"></span> Followers
    	<hr><span class="glyphicon glyphicon-asterisk"></span> New Follower Requests
    	<hr><span class="glyphicon glyphicon-globe"></span> Trend Topics <hr>
-->         </div>



            <div class="col-md-6" style="margin-top: 20px; margin-left: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">

    	        <div class="row">
                     <ul class="nav nav-tabs nav-justified" style="margin-left: 45px; background-color: white; padding: 5px 5px 5px 5px; border-radius: 10px; width: 500px">
                        <li class="nav-item {% if request.path == '/home/knots' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('site.home_page1', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-list-alt"></span> Knots</a>
                        </li>
                        <li class="nav-item {% if request.path == '/user_profile/following' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('site.user_profile_page', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-search"></span> Following</a>
                         </li>
                        <li class="nav-item {% if request.path == '/user_profile/followers' %}active{% endif %}">
                             <a class="nav-link" href="{{ url_for('site.user_profile_page', user_id=user.id) }}">
                                 <span class="glyphicon glyphicon-eye-open"></span> Followers</a>
                        </li>
                     </ul>
                </div>

                <div class="row" style="margin-left: 30px">
                    <div class="media" style="margin-top: 30px; background-color: #f5f8fa; border-radius: 15px; width: 500px; height: 110px">
       		            <div class="media-left">

                            <a href="#">
                                <img class="media-object"
                                     src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg"
                                     alt="userPhoto" style="margin-top: 10px; margin-left: 10px; height: 55px; width: 55px; border-radius: 30px">
                            </a>

       		            </div>
       		            <div class="media-body">
       			            <p style="padding: 10px"><textarea style="resize: none" rows="2" cols="53" placeholder="  What's happening? Start knitting!"></textarea><br>
       			                <button type="button" class="btn btn-snd btn-sm" style="margin-left:335px">
        		                    <span class="glyphicon glyphicon-pencil"></span> Knot
        		                </button>
       			            </p>
       		            </div>
       	            </div>

                    <div class="media" style="margin-top: 30px; background-color: #f5f8fa; border-radius: 15px; width: 500px; height: 110px">
       		            <div class="media-left">

                            <a href="#">
                                <img class="media-object"
                                    src="https://s-media-cache-ak0.pinimg.com/564x/d3/98/3e/d3983e83c8b95cbedadd03c181abbb53.jpg"
                                    alt="userPhoto" style="margin-top: 10px; margin-left: 10px; height: 55px; width: 55px; border-radius: 30px">
                            </a>

       		            </div>
       		            <div class="media-body" style="padding: 15px">
       			            <p>Knot #2</p><br>
                            <p style="text-align: right">
                                <button type="button" class="btn btn-default btn-sm">
          		                    <span class="glyphicon glyphicon-heart"></span> Like
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
          		                    <span class="glyphicon glyphicon-retweet"></span> Reknot
        		                </button>
       			            </p>
       		            </div>
       	            </div>
                     <div class="media" style="margin-top: 30px; background-color: #f5f8fa; border-radius: 15px; width: 500px; height: 110px">
       		            <div class="media-left">

                            <a href="#">
                                <img class="media-object"
                                    src="http://optimusprime.fansector.com/images/gallery/optimus_prime_gallery_0003.jpg"
                                    alt="userPhoto" style="margin-top: 10px; margin-left: 10px; height: 55px; width: 55px; border-radius: 30px">
                            </a>

                        </div>
       		            <div class="media-body" style="padding: 15px">
       			            <p>Knot #3</p><br>
                            <p style="text-align: right">
                                <button type="button" class="btn btn-default btn-sm">
          		                    <span class="glyphicon glyphicon-heart"></span> Like
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
          		                    <span class="glyphicon glyphicon-retweet"></span> Reknot
        		                </button>
       			            </p>
       		            </div>
       	            </div>

                </div>
            </div>

            <div class="col-md-1">
                <div></div>
            </div>

            <div class="col-md-2" style="margin-top: 20px; margin-left: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
                <p style="text-align: center"><a href="http://localhost:5000/about_us">About Us.</a>
                </p>
            </div>
        </div>
    </div>


{% endblock %}
