<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Hello, Flask!</h1>
    <h2>Mic check... This is Ozan speaking!</h2>
    <h2>The Beast Unleashed ! Can is activated</h2>
    <img src="http://patrickarlt.com/dev-summit-talk-angular-js/i-know.jpg" alt="AngularJS">
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
