{% extends "layout.html" %}

{% block title %}Knitter Home Page {% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='home_page_style.css') }}"/>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-3" style="text-align: center; margin-top: 20px; background-color: white; padding: 5px 5px 5px 5px; border-radius: 10px">

                <p><img
                        src={{ user.profile_pic }}
                        height="220px"
                        width="220px"
                        style="margin-top:30px; margin-bottom: 20px; border-radius: 25px; border: 2px solid #f5f8fa; padding: 5px 5px 5px 5px; text-align: center; vertical-align: center">
                </p>
                <h3>{{ real_name.name }} {{ real_name.surname }} </h3>
                <p><span class="glyphicon glyphicon-link"></span>{{ user.username }}</p>
                <p><span class="glyphicon glyphicon-resize-small"></span><a> {{ user.mail_address }}</a></p>
                <p><span class="glyphicon glyphicon-share-alt"></span> {{ user.register_date }}</p>
                <p><span class="glyphicon glyphicon-book"></span><a href="{{ url_for('site.books_page', user_id=user.id) }}">  Library</a></p>
            </div>


            <div class="col-md-6" style="margin-top: 20px; margin-left: 25px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">

                <div style="text-align: center">

                    <ul class="nav nav-tabs nav-justified"
                        style="text-align: center; background-color: white; border-radius: 10px;">
                        <li class="nav-item {% if request.path == '/home/knots' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('site.home_page', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-list-alt"></span> Knots</a>
                        </li>
                        <li class="nav-item {% if request.path == '/user_profile/following' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('site.user_profile_page', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-search"></span> Following</a>
                        </li>
                        <li class="nav-item {% if request.path == '/user_profile/followers' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('site.user_profile_page', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Followers</a>
                        </li>
                    </ul>

                </div>

                <div style="text-align: center">

                    <div class="media" style="margin-top: 10px; background-color: #f5f8fa; border-radius: 15px">
       		            <div class="media-left">
                            <div style="margin-left: 20px; margin-top: 10px">
                                <a href="#">
                                    <img class="media-object"
                                        src={{ user.profile_pic }}
                                        alt="userPhoto" style="height: 55px; width: 55px; border-radius: 30px">
                                </a>
                            </div>
       		            </div>
       		            <div class="media-body">
                            <form action="{{ url_for('site.home_page', user_id=user.id) }}" method="post" style="padding: 10px 10px 5px 1px">
                                <div class="form-group">
                                    <textarea class="form-control" rows="2" name="new_knot_content" style="resize: none" placeholder="  What's happening? Start knitting!"></textarea>
                                        <div style="text-align: right; margin-top: 5px">
                                            <button type="submit" class="btn btn-info" name="add_knot" value="add_knot"><span class="glyphicon glyphicon-plus"></span> Knot</button>
                                        </div>
                                </div>
                            </form>
       		            </div>
       	            </div>

                </div>

                <div>
                    {% for following_counter in my_followings_user %}
                        {% for knot_counter in my_followings_knots %}
                            {% if (following_counter.id==knot_counter.owner_id) %}
				    <div class="media" style="overflow:visible;background-color: #f5f8fa; margin:15px;border-radius:15px;padding:15px;">

					    <div class="media-left">
						    <div style="margin-left: 20px; margin-top: 10px">
                                <a href="#">
                                    <img class="media-object"
                                        src={{ following_counter.profile_pic }}
                                        alt="userPhoto" style="height: 55px; width: 55px; border-radius: 30px">
                                </a>
                            </div>
					    </div>
					    <div class="media-body" style="border-bottom: 0.1em solid white;overflow:visible;">
						    <h4 class="media-heading">
							    <span class="glyphicon glyphicon-link"></span> {{ following_counter.username }}
                                {% if (knot_counter.owner_id==user.id) %}
                                <form action="{{ url_for('site.home_page', user_id=user.id) }}" method="post">
							    <div class="dropdown pull-right">
								    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #f5f8fa;">
									    <i class="glyphicon glyphicon-option-horizontal"></i>
								    </button>

								    <ul class="dropdown-menu" style="overflow:visible; background-color: #f5f8fa;">
									    <li style="border-bottom:0.01em solid white;">
										    <button class="btn dropdown-toggle" name="delete" id="delete" type="submit" value="{{ knot_counter.knot_id }}" style="background-color: #f5f8fa;">
											    <i class="glyphicon glyphicon-trash"></i> Delete This Knot
										    </button>
									    </li>
									    <li>
										    <button class="btn dropdown-toggle" data-toggle="modal" data-target="#myModal-{{ knot_counter.knot_id }}" name="update" id="update" type="button" value="{{ knot_counter.knot_id }}" style="background-color: #f5f8fa;">
											    <i class="glyphicon glyphicon-edit"></i> Update This Knot
										    </button>
                                        </li>
								    </ul>

                                    <form action="{{ url_for('site.home_page', user_id=user.id) }}" method="post">
                                        <div class="form-group">
                                            <div class="modal fade" id="myModal-{{ knot_counter.knot_id }}" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea class="form-control" rows="2" name="update_knot_content" style="resize: none">{{ knot_counter.knot_content }}</textarea>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-info" name="update_knot" id="update_knot" value="{{ knot_counter.knot_id }}"><span class="glyphicon glyphicon-edit"></span> Update </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

							    </div>
                                </form>
                                {% endif %}
						    </h4>
                            <p style="margin-left: 10px">{{ knot_counter.knot_content }}</p>
					    </div>
                        <form action="{{ url_for('site.home_page', user_id=user.id) }}" method="post">
					    <div class="media-bottom" style="overflow:hidden;">
						    <div class="pull-left" style="margin-left:20%">
							    <button class="btn dropdown-toggle" name="like" id="like" value="{{knot_counter.knot_id}}" type="submit" style="background-color: #f5f8fa;">
								    <i class="glyphicon glyphicon-heart" style="background-color: #f5f8fa;"> {{ knot_counter.like_counter }}</i>
							    </button>
						    </div>
						    <div class="pull-left" style="margin-left:10%;">
							    <button class="btn dropdown-toggle" name="reknot" id="reknot" value="{{knot_counter.knot_id}}" type="submit" style="background-color: #f5f8fa;">
								    <i class="glyphicon glyphicon-link" style="background-color: #f5f8fa;"> {{ knot_counter.reknot_counter }}</i>
							    </button>
						    </div>
                            <div class="pull-right" style="margin-left:10%;">
							    <i>{{ knot_counter.post_date }}</i>
						    </div>
					    </div>
                        </form>
				    </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-1">
                <div></div>
            </div>

						<div class="col-md-2" style="margin-top: 20px; margin-left: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
<h3><p>Last Added Groups to Knitter:</p></h3>
							{% for group_counter in new_groups %}

							<a class="nav-link" href="{{ url_for('site.group_page', group_id=group_counter.group_id, user_id=user.id) }}">

									<span class="glyphicon glyphicon-list-alt"></span>{{group_counter.group_name }}</a>
							<p style="margin-left: 10px"> {{group_counter.group_description }}</p>
							{% endfor %}
            </div>

        </div>

    </div>


{% endblock %}
