{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/ id="logo">
        <div class="login-container">

            <form class="form-signin" action="{{ url_for('site.login_page') }}" method="post">
                <div class="form-group">
                    <label>Knitter Name</label>
                    <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
						</span>
                        <input type="text" name="knittername" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label>Knotword</label>
                    <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
						</span>
                        <input type="password" name="knotword" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Login" name="Login"/>
                </div>

                <a href="{{ url_for('site.signup_page') }}">Not a member yet ?</a>
                <hr>
                <a href="{{ url_for('site.database_initialization') }}" class="btn btn-info">Initialize DB</a>

                {% if error %}
                    <div class="alert alert-danger">
                        <strong>Hey Earthling Stop !</strong><br>Username or password is not correct<br><strong>Not
                        a member ?</strong>
                        <a href="{{ url_for('site.signup_page') }}"> Click Here !</a>
                    </div>
                {% endif %}

                {% if newly_signup %}
                    <div class="alert alert-success">
                        <strong>Welcome to Knitter Familia !</strong>
                    </div>
                {% endif %}
            </form>
        </div>
        <div style="text-align: center">
            <a class="btn btn-social-icon btn-odnoklassniki">
                <span class="fa fa-odnoklassniki"></span>
            </a>

            <a class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-yahoo">
                <span class="fa fa-yahoo"></span>
            </a>

            <a class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
            </a>

            <a class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
            </a>
        </div>
    </div>
{% endblock %}
