{% extends "layout.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}" />

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top:20%">
			<form>
				<div class="form-group">
					<label>Knitter Name</label>
					<div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
						</span>
						<input type="text" name="knitter-name" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label>Knotword</label>
					<div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="password" name="knotword" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<input type="button" class="btn btn-success btn-block" onclick="location.href='{{ url_for('site.user_profile_page') }}';"
						value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}