{% extends "layout.html" %}
{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}" />

	<div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-6" style="margin-top:20%">
                    <div class="well" style="max-width:500px;margin: auto;margin-bottom:30px;">
                        <h3>Log In</h3>
                        <form role="form" class="form-normal" method="post" action="login" accept-charset="UTF-8">
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control" id="LoginEmailField" placeholder="Email or Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" class="form-control" id="LoginPassword Field" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <div class="checkbox">
                                        <label class="control-label">
                                            <input type="checkbox"> Keep me logged in
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="well" style="max-width:500px;margin:0 auto;">
                        <h3>Sign Up</h3>
                        <form role="form" class="form-normal" method="post" action="login" accept-charset="UTF-8">
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control" id="SignupNameField" placeholder="Name and Surname">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control" id="SignupEmailField" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" class="form-control" id="SignupPassword Field" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Sign Up Knitter!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

	</div>

{% endblock %}
