{% extends "layout.html" %}
{% block title %}Knitter's Message Page {% endblock %}

{% block head %}
	{{ super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='messages_style.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <center>
                <h1>All Messages</h1>
          </center>

      </div>

      <!-- Example row of columns -->
    <div name="messages" class="container"
      <div class="row">
        <div class="col-md-4">
                <h2>@Rihanna</h2>
                <p>I just wanted to say hi!</p>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See Messages</button>
        </div>
        <div class="col-md-4">
          <h2>@ZaraLarsson</h2>
          <p>When low when high, what matters is now!</p>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See Messages</button>
        </div>
        <div class="col-md-4">
          <h2>@rickgrimes</h2>
          <p>Arr!</p>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See Messages</button>
        </div>
      </div>
    </div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Between you and 'username'</h4>
      </div>
      <div class="modal-body">
        <p>Messages</p>
      </div>

      <div class="modal-footer">
           <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <p>
                        <input type="message" class="form-control" id="message_content" placeholder="Talk about your knots">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
                    </p>

                 </div>
            </div>
           </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
