{% extends "layout.html" %}
{% block title %}Knitter's Message Page {% endblock %}

{% block head %}
	{{ super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='messages_style.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <center>
                <h1>All Messages</h1>
          </center>

      </div>

      <!-- Example row of columns -->
    <div name="messages" class="container">
				<ul class="list-group">
  				{% for message in all_messages %}
  					<li class="list-group-item"><a href="#{{ message.to_user_id }}" data-toggle="modal" data-target="#messages">{{ message.to_user_id }}</a>
							<form method="post" action="{{ url_for('site.message_delete', user_id=message.from_user_id, message_id=message.message_id)}}">
								<button type="submit" class="btn btn-default" method="post">Delete</button>
							</form>
						</li>
  				{% endfor %}
				</ul>
    </div>
		<div class="modal fade" tabindex="-1" role="dialog" id="messages">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Message History</h4>
		      </div>
		      <div class="modal-body">
						<div id="old_messages">
							<div class="row">
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg" width="40px"/>
								</div>
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 1
									</div>
									<button type="button">Delete Message</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 2
									</div>
									<button type="button">Delete Message</button>
								</div>
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/468699268182999040/o10jbsgO.jpeg" width="40px" style="left:0;position:absolute;"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg" width="40px"/>
								</div>
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 1
									</div>
									<button type="button">Delete Message</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 2
									</div>
									<button type="button">Delete Message</button>
								</div>
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/468699268182999040/o10jbsgO.jpeg" width="40px" style="left:0;position:absolute;"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg" width="40px"/>
								</div>
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 1
									</div>
									<button type="button">Delete Message</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 2
									</div>
									<button type="button">Delete Message</button>
								</div>
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/468699268182999040/o10jbsgO.jpeg" width="40px" style="left:0;position:absolute;"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg" width="40px"/>
								</div>
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 1
									</div>
									<button type="button">Delete Message</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 2
									</div>
								</div>
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/468699268182999040/o10jbsgO.jpeg" width="40px" style="left:0;position:absolute;"/>
								</div>
								<button type="button">Delete Message</button>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg" width="40px"/>
								</div>
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 1
									</div>
									<button type="button">Delete Message</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="alert alert-warning">
			  						Message 2
									</div>
									<button type="button">Delete Message</button>
								</div>
						</div>
					</div>
					<div class="modal-footer">
						<form>
						  <div class="form-group">
						    <label for="InputTextArea">Your Message:</label>
						    <textarea class="form-control" rows="2" id="message" name="message_content"></textarea>
						  </div>
						  <button type="submit" class="btn btn-default" method="post">Send</button>
						</form>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>
{% endblock %}
