{% extends "layout.html" %} 
{% block title %}Notifications{% endblock %} 
{% block content %}
<div class="container">
	<div class="row">
		<div name='trends' class="col-sm-4">
      Istanbul Trends · <a href='#'>Change</a>
      {% for trend in trends %}
        <div name = 'trend'class="row"><a href="#">#{{trend.name}}</a><br>{{trend.info}}</div>
      {% endfor %}
		</div>
		<div name='notifications' class="col-sm-4">
			{% for notification in notifications %}
      <div class="row" name="notification">
        <div>{{notification.source}}</div>
        <div>{{notification.tweet}}</div>
      </div>
      {% endfor %}
		</div>
		<div name='who_to_follow' class="col-sm-4">
			{% for person in people %}
        <h3>{{ person }}</h3><br>
      {% endfor %}
		</div>
	</div>
</div>
{% endblock %}