{% extends "layout.html" %} {% block title %}Notifications{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='notification_style.css') }}" /> {% endblock %} {% block content %}

<div class="container" style="width:90%;">
	<div class="row">
		<ul class="nav nav-tabs nav-justified" style="background-color: white">
			<li class="nav-item active">
				<a class="nav-link" href="#">Mentions <span class="badge">3</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Re-knots <span class="badge">0</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Likes <span class="badge">33</span></a>
			</li>
		</ul>
	</div>

	<div class="row">

		<div name='trends' class="col-sm-2">
			<div class="alert alert-danger">This column of the page will show trends related with the user</div>
			<div class="trends">
				<h5>Istanbul Trends · <a href='#'>Change</a></h5>
				{% for trend in trends %}
				<div class="trend">
					<a href="#">#{{trend.name}}</a><br>
					<span>{{trend.info}}</span>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div name='notifications' class="col-sm-5" style="background-color:white;">
			{% for knot in knots %}
			<form action="{{ url_for('site.notifications_page') }}" method="POST">
				<div class="media" style="overflow:visible;background-color: #f5f8fa; margin:15px;border-radius:15px;padding:15px;">
					<div class="alert alert-info" style="border-radius:15px;">
							<img src="{{knot.action_source_pic}}" style="height: 24px; width: 24px; border-radius: 8px">  <b>{{knot.action_source}}</b> has <b>{{knot.action_type}}</b> your knot!
					</div>
					<div class="media-left">
						<a href="{{knot.user_pic_url}}">
							<img class="media-object" src="{{knot.user_pic_url}}" alt="userPhoto" style="height: 60px; width: 60px; border-radius: 60%">
						</a>
					</div>
					<div class="media-body" style="border-bottom:0.01em solid white;overflow:visible;">
						<h4 class="media-heading">
							<span class="glyphicon glyphicon-link"></span> {{knot.username}}
							<div class="dropdown pull-right">
								<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #f5f8fa;">
									<i class="glyphicon glyphicon-option-horizontal"></i>
								</button>
								<ul class="dropdown-menu" style="overflow:visible;background-color: #f5f8fa;">
									<li style="border-bottom:0.01em solid white;"> 
										<button class="btn dropdown-toggle" name="delete" id="delete" value="{{knot.knot_id}}" type="submit" style="background-color: #f5f8fa;">
											<i class="glyphicon glyphicon-trash"></i> Delete This Knot
										</button>
									</li>
									<li>
										<button class="btn dropdown-toggle" name="update" id ="update" value="{{knot.knot_id}}" type="submit" style="background-color: #f5f8fa;">
											<i class="glyphicon glyphicon-edit"></i> Update This Knot
										</button>
									</li>
								</ul>
							</div>
						</h4>
						{{knot.knot_content}}
					</div>
					<div class="media-bottom" style="overflow:hidden;">
						<div class="pull-left" style="margin-left:10%">
							<button class="btn dropdown-toggle" name="like" id="like" value="{{knot.knot_id}}" type="submit" style="background-color: #f5f8fa;">
								<i class="glyphicon glyphicon-heart" style="background-color: #f5f8fa;"> {{knot.like_number}}</i>
							</button>
						</div>
						<div class="pull-left" style="margin-left:10%;">
							<button class="btn dropdown-toggle" name="reknot" id="reknot" value="{{knot.knot_id}}" type="submit" style="background-color: #f5f8fa;">
								<i type="button" class="glyphicon glyphicon-link" style="background-color: #f5f8fa;"> {{knot.reknot_number}}</i>
							</button>
						</div>
					</div>
				</div>
			</form>
			{% endfor %}
		</div>

		<div class="col-sm-1"></div>

		<div name='users' class="col-sm-3">
			<div class="alert alert-danger">This column of the page will show people related with the user</div>
			<div class="userPanel">
				<h5 style="padding:10px;padding-bottom:0px;">Can you Knot?</h5>
				{% for knot in knots %}
				<!-- style="margin-bottom:5px;padding:2px;border-radius:12px;" -->
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="{{knot.user_pic_url}}" alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{knot.username}}</h4>
						<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Knot</button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>
{% endblock %}