{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row" style="padding-top:50px;">
        <div class="col-md-4">
            <a href="http://">
                <div class="well well-lg" style="background-color:#0084b4;margin-bottom:0;">
</div>
            </a>
            <div class="well" style="background-color:white;">
              <div class="row">
                  <div class="col-md-4">
                      <img src="https://pbs.twimg.com/profile_images/468699268182999040/o10jbsgO.jpeg" class="img-thumbnail img-responsive"/>
                  </div>
                  <div class="col-md-8">
                      <div style="float:left;">
                          <h3><b>Knitter Official</b></h3>

                          <h4><small>@Knitter_Official</small></h4>
                      </div>
                  </div>
              </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('site.settings_page', user_id=user.id) }}">Account Settings</a></li>
                <li class="list-group-item active"><a href="{{ url_for('site.change_password_page', user_id=user.id) }}" style="color:white;">Change Password</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Change Password</h3>
            <form role="form" class="form-normal" method="post" action="" accept-charset="UTF-8">
                <div class="form-group">
                    <label class="control-label" for="OldPasswordField">Current Password</label>
                    <div>
                        <input type="password" class="form-control" id="OldPasswordField" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="NewPasswordField">New Password</label>
                    <div>
                        <input type="password" class="form-control" id="NewPasswordField" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ConfirmPasswordField">Confirm Password</label>
                    <div>
                        <input type="password" class="form-control" id="ConfirmPasswordField" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
