{% extends "layout.html" %}

{% block title %}{{ user.username }}'s Sales Page - {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile_style.css') }}"/>
    <style type="text/css">
        .sale_banner {
            background: url("/static/saleBanner.jpg");
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid sale_banner"
         style="padding: 0px; height: 200px; max-width: 100%;">

        <div class="row">
            <h2 style="text-align: center; font-family: Avenir; padding-top: 60px; color: white">Sale now with Knitter
                !</h2>
        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2"
                 style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">
                <p style="text-align: center"><img
                        src="{{ user.profile_pic }}"
                        height="150px"
                        width="150px"
                        style="margin-top:75px; border-radius: 25px; border: 5px solid red; text-align: center; vertical-align: center">
                </p>
                <h3 style="text-align: center"><span class="glyphicon glyphicon-link"></span>{{ user.username }}</h3>
                <h3 style="text-align: center">{{ real_name.name }} {{ real_name.surname }}</h3>
                <p style="text-align: center"><span
                        class="glyphicon glyphicon-home"></span> {{ real_name.city }}, {{ real_name.country }}</p>
                <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#add_new_item"
                        style="margin-top: 20px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new Item
                </button>


                <br><h4 style="text-align: center">Currencies to TL</h4>
                <div class="list-group">
                    {% for currency in currency_list %}
                        <a class="list-group-item list-group-item-action">
                            <h5 class="list-group-item-heading">{{ currency.name }}</h5>
                            <p class="list-group-item-text">{{ currency.tl_value }}</p>
                            <strong class="list-group-item-text">{{ currency.last_update }}</strong>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-1" style="margin-top: 20px; padding: 0px 10px 25px 10px; border-radius: 10px">
                <div></div>
            </div>

            <div class="col-md-4"
                 style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">

                {% if not isSearched %}
                    <h2 style="text-align: center">My Items</h2>
                {% endif %}
                
                {% if isSearched %}
                    <h2 style="text-align: center">Searched items</h2>
                {% endif %}


                {% for item in my_item_list %}
                    <div class="panel panel-danger"
                         style="margin-top: 20px; background-color: #f5f8fa; border-radius: 5px">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a data-toggle="collapse"
                                                       href="#{{ item.item.item_id }}">{{ item.item.item_name }}</a>
                            </h3>
                        </div>
                        <div id="{{ item.item.item_id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p style="text-align: center"><img
                                        src="{{ item.item.item_picture }}"
                                        style=" margin-top:25px; border-radius: 25px; max-width:100%; height:auto; border: 5px solid red; text-align: center; vertical-align: center">
                                </p>

                                <p style="text-align: justify">{{ item.item_description }}</p>

                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action">
                                        <h5 class="list-group-item-heading">Price</h5>
                                        <p class="list-group-item-text">{{ item.item.item_price }} {{ item.item.item_currency }}</p>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <h5 class="list-group-item-heading">Start Date</h5>
                                        <p class="list-group-item-text">{{ item.sale_start }}</p>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <h5 class="list-group-item-heading">End Date</h5>
                                        <p class="list-group-item-text">{{ item.sale_end }}</p>
                                    </a>
                                </div>



                                <form method="post">
                                    <div class="form-group">
                                        {% if user.username == item.seller.username %}
                                            <input type="submit" class="btn btn-danger btn-block" value="Delete This Sale"
                                                name="delete_item"/>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="hidden" name="delete_this_sale" class="form-control"
                                                   id="delete_this_sale" value="{{ item.sale_id }}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <div class="col-sm-1" style="margin-top: 20px; padding: 0px 10px 25px 10px; border-radius: 10px">
                <div></div>
            </div>

            <div class="col-md-4"
                 style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">

                <div class="alert alert-warning" role="alert" style="margin-top: 20px">
                    <strong>Hey!</strong> You can search items with options here !
                </div>

                <form method="post">

                    <div class="form-group">
                        <label for="search_select">Select the option</label>
                        <select class="form-control" id="search_select">
                            <option disabled selected value> -- Select an option --</option>
                            <option value="username">Search by username</option>
                            <option value="closest">Search the closest items</option>
                            <option value="price">Search by price</option>
                            <option value="currency">Search by currency</option>
                            <option value="place">Search by place</option>
                            <option value="newest">Search the newest items</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="hidden" name="choose_search" class="form-control" id="choose_search"/>
                        </div>
                    </div>

                    <div class="form-group hid_forms" style="display:none;" id="otherType">
                        <label id="hid_label"></label>
                        <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-zoom-in"></span>
						</span>
                            <input type="text" name="keyword" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group hid_forms" style="display:none;" id="currencyType">
                        <label for="currency_select">Select the currency</label>
                        <select class="form-control" id="currency_select" name="currency_select">
                            {% for currency in currency_list %}
                                <option value="{{ currency.name }}">{{ currency.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group hid_forms" style="display:none;" id="placeType">
                        <label for="city_select">Select the city</label>
                        <select class="form-control" id="city_select" name="city_select">
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}, {{ city.country }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-block" value="Search Item"
                               name="search_item"/>
                    </div>
                </form>


            </div>

        </div>
    </div>

    <div id="add_new_item" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new Item !</h4>
                </div>

                <div class="modal-body">

                    <form method="post">

                        <div class="form-group">
                            <label>Item Name</label>
                            <div class="input-group">
                                <input type="text" name="item_name_form" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Item Picture Address</label>
                            <div class="input-group">
                                <input type="text" name="item_picture_form" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Item Price</label>
                            <div class="input-group">
                                <input type="text" name="item_price_form" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Item Description</label>
                            <div class="input-group">
                                <input type="text" name="item_description_form" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Sale End Date</label>
                            <div class="input-group">
                                <input type="text" name="sale_end_date" class="form-control" placeholder="YYYY-MM-DD"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="currency_select">Select the currency</label>
                            <select class="form-control" id="currency_item">
                                <option disabled selected value> -- Select an option --</option>
                                {% for currency in currency_list %}
                                    <option value="{{ currency.name }}">{{ currency.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="hidden" name="item_change_currency" class="form-control"
                                       id="item_change_currency"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Add new Item"
                                   name="add_new_item"/>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('#search_select').on('change', function () {
            var selection = $(this).val();

            $('#choose_search').val(selection);

            switch (selection) {

                case "price":
                case "username":
                    $(".hid_forms").hide();
                    $("#hid_label").text("Enter the " + selection);
                    $("#otherType").show();
                    if (selection == "price") $("#currencyType").show();
                    break;

                case "currency":
                    $(".hid_forms").hide();
                    $("#currencyType").show();
                    break;

                case "place":
                    $(".hid_forms").hide();
                    $("#placeType").show();
                    break;
                default:
                    $(".hid_forms").hide();
            }
        });

        $('#currency_item').on('change', function () {
            var selection = $(this).val();
            $('#item_change_currency').val(selection);
        });

    $('#my_update_button').on('click', function () {
            var selection = $(this).val();
            $('#item_change_currency').val(selection);
        });

    </script>


{% endblock %}
