{% extends "layout.html" %}

{% block title %}{{ user.username }} - {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile_style.css') }}"/>
{% endblock %}

{% block content %}

    <div class="container-fluid"
         style="padding: 0px; background-image: url({{ user.cover_pic }}); height: 300px; max-width: 100%;">

        <div class="row">
            <p style="text-align: center"><img
                    src={{ user.profile_pic }}
                            height="150px"
                    width="150px"
                    style="margin-top:75px; border-radius: 25px; border: 5px solid turquoise; text-align: center; vertical-align: center">
            </p>
        </div>

        <div class="row">
            {% if user_check %}
            <p style="text-align: center">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </p>
            {% endif %}
        </div>

    </div>


    <div class="container">

        <div class="row">

            <div class="col-sm-4" style="text-align: center">
                <h3>{{ real_name.name }} {{ real_name.surname }}</h3>
            </div>

            <div class="col-sm-4">
                <h3 style="text-align: center"><span class="glyphicon glyphicon-link"></span>{{ user.username }}</h3>
                <p style="text-align: center"><span class="glyphicon glyphicon-home"></span> {{ real_name.city }}, {{ real_name.country }}</p>
            </div>

            <div class="col-sm-4" style="text-align: center; padding-top: 15px">
                <p><span class="glyphicon glyphicon-resize-small"></span><a> {{ user.mail_address }}</a></p>
                <p><span class="glyphicon glyphicon-share-alt"></span> {{ user.register_date }}</p>

            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs nav-justified" style="background-color: white">
                <li id="li_knot" class="nav-item">
                    <a class="nav-link" href="#" id="knot_link">Knots <span class="badge">{{ lengths['knot_len'] }}</span></a>
                </li>
                <li id="li_following" class="nav-item">
                    <a class="nav-link" href="#" id="following_link">Following <span
                            class="badge">{{ lengths['followings_len'] }}</span></a>
                </li>
                <li id="li_follower" class="nav-item">
                    <a class="nav-link" href="#" id="follower_link">Followers <span
                            class="badge">{{ lengths['followers_len'] }}</span></a>
                </li>
                <li id="li_like" class="nav-item">
                    <a class="nav-link" href="#" id="like_link">Likes <span class="badge">{{ lengths['like_len'] }}</span></a>
                </li>
                {% if user_check %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('site.settings_page', user_id=user.id) }}">Profile Settings</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-4"
                 style="margin-top: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
                <div class="alert alert-info" role="alert" style="text-align: center"><strong>Why Knot ?</strong> There
                    are lots of Knitters here !
                </div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="https://s-media-cache-ak0.pinimg.com/564x/d3/98/3e/d3983e83c8b95cbedadd03c181abbb53.jpg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> adrian_smith</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="http://optimusprime.fansector.com/images/gallery/optimus_prime_gallery_0003.jpg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> iamoptimusprime</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="https://pbs.twimg.com/profile_images/3185300157/8ffee78995192b6be24a293341519902.jpeg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> hakan_tasiyan_01</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div></div>
            </div>
            <div class="col-sm-7"
                 style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">
                <div id="knots" class="sections">

                    {% for knot in knot_list %}

                    <div class="media" style="margin-top: 25px; background-color: #f5f8fa; border-radius: 15px">
                        <div style="padding: 15px">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         src="{{ user.profile_pic }}"
                                         alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ user.username }}</h4>
                                {{ knot.knot_content }}
                                <h6 style="text-align: right">{{ knot.post_date }}</h6>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>

                <div id="followers" class="sections">
                    {% for follower in followers %}
                    <div class="media" style="margin-top: 25px; background-color: #f5f8fa; border-radius: 15px">
                        <div style="padding: 15px">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         src={{ follower.profile_pic }}
                                         alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ follower.username }}</h4>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div id="followings" class="sections">
                    {% for following in followings %}
                    <div class="media" style="margin-top: 25px; background-color: #f5f8fa; border-radius: 15px">
                        <div style="padding: 15px">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         src={{ following.profile_pic }}
                                         alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ following.username }}
                                </h4>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div id="likes" class="sections">
                    {% for like in likes %}
                        {% set owner = get_user_info(like.owner_id) %}
                    <div class="media" style="margin-top: 25px; background-color: #f5f8fa; border-radius: 15px">
                        <div style="padding: 15px">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         src={{ owner.profile_pic }}
                                         alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> {{ owner.username }}
                                </h4>
                                {{ like.knot_content }}
                                <h6 style="text-align: right">{{ like.post_date }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your profile infos</h4>
                </div>

                <div class="modal-body">
                    <form action="{{ url_for('site.user_profile_page', user_id=user.id) }}" method="post">

                        <div class="form-group">
                            <label>New Profile Image URL</label>
                            <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-camera"></span>
						</span>
                                <input type="text" name="imageURL" class="form-control" value="{{ user.profile_pic }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>New Cover Image URL</label>
                            <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-camera"></span>
						</span>
                                <input type="text" name="coverURL" class="form-control" value="{{ user.cover_pic }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-camera"></span>
						</span>
                                <input type="text" name="my_name" class="form-control" value="{{ real_name.name }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Surname</label>
                            <div class="input-group">
						<span class="input-group-addon">
                                <span class="glyphicon glyphicon-camera"></span>
						</span>
                                <input type="text" name="my_surname" class="form-control"
                                       value="{{ real_name.surname }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city_select">Select a new city</label>
                            <select class="form-control" id="city_select" name="city" required>
                                {% for city in cities %}
                                    {% if city.name == real_name.city and city.country == real_name.country %}
                                        <option selected
                                                value="{{ city.id }}">{{ city.name }}, {{ city.country }}</option>
                                    {% else %}
                                        <option value="{{ city.id }}">{{ city.name }}, {{ city.country }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="hidden" name="city_id" class="form-control" value="{{ my_city.id }}" id="city_id"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Change Info"
                                   name="changeImage"/>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-danger btn-block" value="Delete My Real Name"
                                   name="deleteReal"/>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>

        $(document).ready(function () {
            $(".sections").hide();
            $("#knots").show();
            $('.nav-item').removeClass("active");
            $('#li_knot').addClass("active");
        });

        $('#knot_link').click(function (e) {
            $(".sections").hide();
            $("#knots").show();
            $('.nav-item').removeClass("active");
            $('#li_knot').addClass("active");
            e.preventDefault();
            return false;
        });

        $('#follower_link').click(function (e) {
            $(".sections").hide();
            $("#followers").show();
            $('.nav-item').removeClass("active");
            $('#li_follower').addClass("active");
            e.preventDefault();
            return false;
        });

        $('#following_link').click(function (e) {
            $(".sections").hide();
            $("#followings").show();
            $('.nav-item').removeClass("active");
            $('#li_following').addClass("active");
            e.preventDefault();
            return false;
        });

        $('#like_link').click(function (e) {
            $(".sections").hide();
            $("#likes").show();
            $('.nav-item').removeClass("active");
            $('#li_like').addClass("active");
            e.preventDefault();
            return false;
        })

        $('#city_select').on('change', function () {
            var selection = $(this).val();
            $('#city_id').val(selection);
        });

    </script>

{% endblock %}
