{% extends "layout.html" %}

{% block title %}Ozan Ata-{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile_style.css') }}"/>
{% endblock %}

{% block content %}

    <div class="container-fluid"
         style="padding: 0px; background-image: url(https://pbs.twimg.com/profile_banners/626892198/1476549918/1500x500); height: 300px">

        <div class="row">
            <p style="text-align: center"><img
                        src="https://pbs.twimg.com/profile_images/772712195918618625/bY7jZS80_400x400.jpg"
                        height="150px"
                        width="150px"
                        style="margin-top:75px; border-radius: 25px; border: 5px solid turquoise; text-align: center; vertical-align: center">
                </p>
        </div>

    </div>


    <div class="container">

        <div class="row">

            <div class="col-sm-4" style="text-align: center">
                <h3>Ozan Ata</h3>
            </div>

            <div class="col-sm-4">
                <h3 style="text-align: center"><span class="glyphicon glyphicon-link"></span>saykolover</h3>
            </div>

            <div class="col-sm-4" style="text-align: center; padding-top: 15px">
                <p><span class="glyphicon glyphicon-resize-small"></span><a> web.itu.edu.tr/saykolover</a></p>
                <p><span class="glyphicon glyphicon-share-alt"></span> Joined July 2012</p>
            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs nav-justified" style="background-color: white">
                <li class="nav-item {% if request.path == '/user_profile/knots' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('site.knots_page') }}">Knots <span class="badge">3</span></a>
                </li>
                <li class="nav-item {% if request.path == '/user_profile/following' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('site.following_page') }}">Following <span
                            class="badge">3</span></a>
                </li>
                <li class="nav-item {% if request.path == '/user_profile/followers' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('site.followers_page') }}">Followers <span
                            class="badge">4</span></a>
                </li>
                <li class="nav-item {% if request.path == '/user_profile/likes' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('site.likes_page') }}">Likes <span class="badge">2</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('site.settings_page') }}">Profile Settings</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-4"
                 style="margin-top: 20px; background-color: white; padding: 10px 10px 10px 10px; border-radius: 10px">
                <div class="alert alert-info" role="alert" style="text-align: center"><strong>Why Knot ?</strong> There are lots of Knitters here !</div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="https://s-media-cache-ak0.pinimg.com/564x/d3/98/3e/d3983e83c8b95cbedadd03c181abbb53.jpg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> adrian_smith</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Knot
                        </button>
                    </div>
                </div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="http://optimusprime.fansector.com/images/gallery/optimus_prime_gallery_0003.jpg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> iamoptimusprime</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Knot
                        </button>
                    </div>
                </div>

                <div class="media" style="margin-top: 30px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="https://pbs.twimg.com/profile_images/3185300157/8ffee78995192b6be24a293341519902.jpeg"
                                 alt="userPhoto" style="height: 60px; width: 60px; border-radius: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span class="glyphicon glyphicon-link"></span> hakan_tasiyan_01</h4>
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Knot
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div></div>
            </div>
            <div class="col-sm-7"
                 style="margin-top: 20px; background-color: white; padding: 0px 10px 25px 10px; border-radius: 10px">
                {% block users_content %} {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}


